/*
@mixin featureframe {
    .running__step {
        width: 500px;
        height: 50px;
        background-color: white;
        display: flex;
        align-items: center;
        .numero {
            position: absolute;
            display: flex;
            border: transparent;
            background-color: violet;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-left: 20px;
            align-items: center;
            justify-content: center;
            left: 3%;
            z-index: 10;
        }
        .container {
            display: flex;
            position: relative;
            width: 400px;
            height: 40px;
            border: solid 2px black;
            left: 15%;
            align-items: center;
            justify-content: center;
        }
    }    
}
*/
h1, h2, h3, p, a {
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
}

body, * {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.btn {
  width: 220px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: transparent;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.5);
  outline: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
  background-color: #353535;
}

.footer h4, .footer a {
  color: white;
  margin: 5px 0;
}

.footer i {
  margin-right: 5px;
}

h2 {
  margin: 30px 0 20px 15px;
}

.header-reception {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-reception__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
}

.header-reception__logo img {
  display: block;
  margin: auto;
}

.header-reception__localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 2px 2px 0 #cfcfcf inset;
          box-shadow: 0 2px 2px 0 #cfcfcf inset;
}

.header-reception__localisation input {
  width: 150px;
  border: transparent;
  background-color: #eaeaea;
  font-size: 1em;
  font-weight: bold;
  outline: none;
}

.header-reception__localisation i {
  color: #4b4b4b;
  margin-right: 10px;
}

.header-reception__localisation ::-webkit-input-placeholder {
  color: #4b4b4b;
}

.header-reception__localisation :-ms-input-placeholder {
  color: #4b4b4b;
}

.header-reception__localisation ::-ms-input-placeholder {
  color: #4b4b4b;
}

.header-reception__localisation ::placeholder {
  color: #4b4b4b;
}

.header-reception__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px 0;
  background-color: #f6f6f6;
}

.header-reception__intro h1 {
  width: 70%;
  margin-bottom: 10px;
}

.header-reception__intro p {
  width: 80%;
  margin-bottom: 20px;
}

.running__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 90%;
  margin: 0 auto 25px auto;
}

.running__step .numero {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: transparent;
  background-color: #9356DC;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

.running__step .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  width: 96%;
  left: 4%;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.1em;
  font-weight: bold;
}

.running__step .container i {
  margin: 0 20px 0 40px;
}

.running__step .container .fas {
  color: #7e7e7e;
}

.running__step .container .fa-store {
  color: #9356DC;
}

.running__step .container__third {
  background-color: #f5edff;
}

main {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.restaurant {
  width: 90%;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 0.2em #e2e2e2;
          box-shadow: 0 5px 0.2em #e2e2e2;
  margin: 15px;
  position: relative;
}

.restaurant .fresh {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  top: 10px;
  right: 10px;
  padding: 3px 5px;
}

.restaurant img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurant figcaption {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant figcaption .btn-like {
  border: transparent;
  background-color: white;
  outline: none;
  font-size: 20px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

.header__menu a {
  color: black;
  opacity: 0.8;
  font-size: 20px;
}

.header__menu img {
  display: block;
  margin: auto;
}

.background_menu {
  width: 115%;
  margin-left: -10%;
}

.main_menu {
  width: 100%;
  overflow: hidden;
}

.main_menu article {
  margin-top: -60px;
  border-radius: 25px 25px 0px 0px;
  background-color: #f6f6f6;
  position: relative;
}

.title_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  padding: 20px 0;
}

.title_menu h1 {
  font-family: 'Shrikhand', cursive;
}

.title_menu .btn-like {
  border: transparent;
  background-color: white;
  outline: none;
  font-size: 20px;
}

.card-container {
  width: 100%;
}

.card-container h2 {
  text-transform: uppercase;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container .frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 93%;
  height: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 0.2em #e2e2e2;
          box-shadow: 0 0 5px 0.2em #e2e2e2;
  border-radius: 15px;
  margin: 10px auto;
}

.container .frame .dish_description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  padding: 0px 15px 0px 15px;
}
/*# sourceMappingURL=main.css.map */