/*
@mixin featureframe {
    .running__step {
        width: 500px;
        height: 50px;
        background-color: white;
        display: flex;
        align-items: center;
        .numero {
            position: absolute;
            display: flex;
            border: transparent;
            background-color: violet;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-left: 20px;
            align-items: center;
            justify-content: center;
            left: 3%;
            z-index: 10;
        }
        .container {
            display: flex;
            position: relative;
            width: 400px;
            height: 40px;
            border: solid 2px black;
            left: 15%;
            align-items: center;
            justify-content: center;
        }
    }    
}
*/
h1,
h2,
h3,
p,
a,
* {
  font-family: "Roboto", sans-serif;
}

body,
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  width: 220px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: transparent;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.5);
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.btn:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
  background-color: #353535;
}

.footer img {
  width: 100px;
  margin-bottom: 10px;
}

.footer a,
.footer li {
  color: white;
  margin: 7px 0;
}

.footer .fa-utensils {
  margin-right: 10px;
}

.footer .fa-hands-helping {
  margin-right: 4px;
}

.header-reception {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-reception h2 {
  margin: 30px 0 10px 32px;
}

.header-reception__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
}

.header-reception__logo img {
  display: block;
  margin: auto;
  width: 160px;
}

.header-reception__localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 2px 2px 0 #cfcfcf inset;
          box-shadow: 0 2px 2px 0 #cfcfcf inset;
}

.header-reception__localisation input {
  width: 150px;
  border: transparent;
  background-color: #eaeaea;
  font-size: 1em;
  font-weight: bold;
  outline: none;
}

.header-reception__localisation i {
  color: #353535;
  margin: 0 15px;
}

.header-reception__localisation ::-webkit-input-placeholder {
  color: #4b4b4b;
}

.header-reception__localisation :-ms-input-placeholder {
  color: #4b4b4b;
}

.header-reception__localisation ::-ms-input-placeholder {
  color: #4b4b4b;
}

.header-reception__localisation ::placeholder {
  color: #4b4b4b;
}

.header-reception__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 40px 0 50px 0;
  background-color: #f6f6f6;
}

.header-reception__intro h1 {
  width: 70%;
  margin-bottom: 10px;
}

.header-reception__intro p {
  width: 85%;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 18px;
}

.running {
  height: 400px;
}

.running__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68px;
  width: 85%;
  margin: 0 auto 25px auto;
  background-color: #f6f6f6;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: bold;
}

.running__step .numero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: transparent;
  background-color: #9356DC;
  font-size: 14px;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -12px;
}

.running__step i {
  margin: 0 20px 0 20px;
  font-size: 20px;
}

.running__step .fas {
  color: #7e7e7e;
}

.running__step .fa-store {
  color: #9356DC;
}

.running__step__third {
  background-color: #f5edff;
}

.main_reception {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

.main_reception h2 {
  margin: 50px 0 10px 20px;
}

.main_reception article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.restaurant {
  width: 90%;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 0.2em #e2e2e2;
          box-shadow: 0 5px 0.2em #e2e2e2;
  margin: 10px 15px;
  position: relative;
}

.restaurant h3 {
  margin-bottom: 5px;
}

.restaurant .fresh {
  position: absolute;
  font-family: "Roboto", sans-serif;
  background-color: #99E2D0;
  border-radius: 2px;
  color: #008766;
  top: 10px;
  right: 15px;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: bold;
}

.restaurant img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  border-radius: 15px 15px 0 0;
}

.restaurant .img_center {
  -o-object-position: 0 60%;
     object-position: 0 60%;
}

.restaurant figcaption {
  padding: 10px 15px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant figcaption .btn-like {
  border: transparent;
  background-color: white;
  outline: none;
  font-size: 20px;
  font-weight: 300;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 15px 15px 15px;
}

.header__menu a {
  color: black;
  opacity: 0.8;
  font-size: 20px;
}

.header__menu img {
  display: block;
  margin: auto;
  width: 160px;
}

.background_menu {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  overflow: hidden;
  background-color: #f6f6f6;
}

.main_menu .title_menu {
  width: 100%;
  margin-top: -60px;
  border-radius: 30px 30px 0px 0px;
  background-color: #f6f6f6;
  padding: 20px 0 10px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_menu .title_menu h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
  margin-left: 20px;
}

.main_menu .title_menu .btn-like {
  border: transparent;
  background-color: white;
  outline: none;
  background-color: #f6f6f6;
  margin-right: 20px;
  font-size: 20px;
}

.main_menu .btn {
  margin: 35px auto 50px auto;
  width: 185px;
}

.card-container {
  width: 100%;
}

.card-container h2 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 0 10px 20px;
  opacity: 0.9;
}

.card-container h2 span {
  padding-bottom: 5px;
  border-bottom: solid 3px #99E2D0;
}

.container_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.container_menu .frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 93%;
  height: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 0.2em #e2e2e2;
          box-shadow: 0 0 5px 0.2em #e2e2e2;
  border-radius: 13px;
  padding: 8px 5px;
  margin: 10px auto;
}

.container_menu .frame .dish_description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  padding: 0px 15px 0px 15px;
}

.container_menu .frame .dish_description .dish_price {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */