h1,
h2,
h3,
p,
a,
* {
  font-family: "Roboto", sans-serif;
}

body,
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  width: 220px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: transparent;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.5);
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.btn:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
}

.btn-like {
  fill: transparent;
  stroke: rgba(100, 100, 100, 0.664);
  stroke-width: 20;
  cursor: pointer;
  position: relative;
}

.btn-like svg {
  overflow: visible;
  width: 30px;
}

.btn-like path {
  -webkit-transform-origin: center;
          transform-origin: center;
}

.btn-like .heart__background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}

.btn-like .heart__main:hover path {
  -webkit-animation: stroke-animation 2s ease-in-out forwards;
          animation: stroke-animation 2s ease-in-out forwards;
}

.btn-like .heart__main:hover ~ .heart__background path {
  -webkit-animation: fade-animation 2s ease-in-out forwards;
          animation: fade-animation 2s ease-in-out forwards;
}

@-webkit-keyframes stroke-animation {
  0% {
    fill: transparent;
  }
  80% {
    fill: #ff2581;
  }
  100% {
    fill: #ff2581;
    stroke-width: 0;
  }
}

@keyframes stroke-animation {
  0% {
    fill: transparent;
  }
  80% {
    fill: #ff2581;
  }
  100% {
    fill: #ff2581;
    stroke-width: 0;
  }
}

@-webkit-keyframes fade-animation {
  0% {
    fill: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    fill: #ff7eb4;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 1;
  }
}

@keyframes fade-animation {
  0% {
    fill: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    fill: #ff7eb4;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 1;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
  background-color: #353535;
}

.footer img {
  width: 100px;
  margin-bottom: 10px;
}

.footer a,
.footer li {
  color: white;
  margin: 7px 0;
}

.footer .fa-utensils {
  margin-right: 10px;
}

.footer .fa-hands-helping {
  margin-right: 4px;
}

.header-reception {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-reception h2 {
  margin: 30px 0 20px 32px;
}

.header-reception__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
}

.header-reception__logo img {
  display: block;
  margin: auto;
  width: 160px;
}

.header-reception__localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 2px 2px 0 #cfcfcf inset;
          box-shadow: 0 2px 2px 0 #cfcfcf inset;
}

.header-reception__localisation input {
  width: 150px;
  border: transparent;
  background-color: #eaeaea;
  font-size: 1em;
  font-weight: bold;
  outline: none;
}

.header-reception__localisation i {
  color: #353535;
  margin: 0 15px;
}

.header-reception__localisation ::-webkit-input-placeholder {
  color: #4b4b4b;
}

.header-reception__localisation :-ms-input-placeholder {
  color: #4b4b4b;
}

.header-reception__localisation ::-ms-input-placeholder {
  color: #4b4b4b;
}

.header-reception__localisation ::placeholder {
  color: #4b4b4b;
}

.header-reception__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 40px 0 50px 0;
  background-color: #f6f6f6;
}

.header-reception__intro h1 {
  width: 70%;
  margin-bottom: 10px;
}

.header-reception__intro p {
  width: 85%;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 18px;
}

.running {
  margin-bottom: 20px;
}

.running__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68px;
  width: 85%;
  margin: 0 auto 25px auto;
  background-color: #f6f6f6;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: bold;
}

.running__step .numero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: transparent;
  background-color: #9356dc;
  font-size: 14px;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -12px;
}

.running__step i {
  margin: 0 20px 0 20px;
  font-size: 20px;
}

.running__step .fas {
  color: #7e7e7e;
}

.running__step .fa-store {
  color: #9356dc;
}

.running__step--third {
  background-color: #f5edff;
}

@media screen and (min-width: 1024px) {
  .running {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main_reception {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

.main_reception h2 {
  margin: 50px 0 10px 20px;
}

.main_reception article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.restaurant {
  width: 90%;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 0.2em #e2e2e2;
          box-shadow: 0 5px 0.2em #e2e2e2;
  margin: 10px 15px;
  position: relative;
}

.restaurant h3 {
  margin-bottom: 5px;
}

.restaurant .fresh {
  position: absolute;
  font-family: "Roboto", sans-serif;
  background-color: #99e2d0;
  border-radius: 2px;
  color: #008766;
  top: 10px;
  right: 15px;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: bold;
}

.restaurant img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  border-radius: 15px 15px 0 0;
}

.restaurant .img_center {
  -o-object-position: 0 60%;
     object-position: 0 60%;
}

.restaurant figcaption {
  padding: 10px 15px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.load {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: load ease 4s forwards;
          animation: load ease 4s forwards;
}

.load__point {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #9356dc;
  margin: 20px;
  opacity: 1;
  -webkit-animation: loadpoint 400ms infinite ease-in-out alternate;
          animation: loadpoint 400ms infinite ease-in-out alternate;
}

.load__point--1 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.load__point--2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.load__point--3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.load__point--2 {
  background: #ff79da;
}

.load__point--3 {
  background: #99e2d0;
}

@-webkit-keyframes load {
  0%,
  90% {
    opacity: 0.95;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}

@keyframes load {
  0%,
  90% {
    opacity: 0.95;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}

@-webkit-keyframes loadpoint {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes loadpoint {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  height: 65px;
}

.header__menu i {
  color: black;
  opacity: 0.8;
  font-size: 20px;
  position: absolute;
  left: 8%;
  top: 22px;
}

.header__menu img {
  display: block;
  width: 160px;
}

.background_menu {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  overflow: hidden;
  background-color: #f6f6f6;
}

.main_menu .title_menu {
  width: 100%;
  margin-top: -60px;
  border-radius: 30px 30px 0px 0px;
  background-color: #f6f6f6;
  padding: 20px 0 10px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_menu .title_menu h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
  margin-left: 20px;
}

.main_menu .btn {
  margin: 35px auto 50px auto;
  width: 185px;
}

.main_menu .btn-like {
  margin-right: 20px;
  width: 35px;
}

.card-container {
  width: 100%;
}

.card-container h2 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 0 20px 20px;
  opacity: 0.9;
}

.card-container h2 span {
  padding-bottom: 5px;
  border-bottom: solid 3px #99e2d0;
}

.dish-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 88%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 3px #e2e2e2;
          box-shadow: 0 0 5px 3px #e2e2e2;
  border-radius: 13px;
  margin: 15px auto;
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
  opacity: 0;
  -webkit-animation: popping-frames 1s forwards;
          animation: popping-frames 1s forwards;
}

.dish-frame--1 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.dish-frame--2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.dish-frame--3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.dish-frame--4 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.dish-frame--5 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.dish-frame--6 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.dish-frame--7 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.dish-frame--8 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.dish-frame--9 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.dish-frame--10 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.dish-frame__description {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dish-frame__description h3 {
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dish-frame__description p {
  font-size: 15px;
  opacity: 0.95;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dish-frame__price {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  margin-right: 15px;
  opacity: 0.85;
}

.dish-frame__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #99e2d0;
  width: 70px;
  margin: -15px -85px -15px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.dish-frame__check i {
  color: #99e2d0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.dish-frame:hover .dish-frame__check {
  margin-right: -15px;
}

.dish-frame:hover i {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

@-webkit-keyframes popping-frames {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popping-frames {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */