//font-family: 'Shrikhand', cursive;
//font-family: 'Roboto', sans-serif;

h1, h2, h3, p, a {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
}