.header__menu {
	display: flex;
	align-items: center;
	margin: 20px 15px 15px 15px;
	a {
		color: black;
		opacity: 0.8;
		font-size: 20px;
	}
	img {
		display: block;
		margin: auto;
		width: 160px;
	}
}

.background_menu {
	width: 100%;
	height: 280px;
	object-fit: cover;
}
.main_menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	overflow: hidden;
	background-color: #f6f6f6;
	.title_menu {
		width: 100%;
		margin-top: -60px;
		border-radius: 30px 30px 0px 0px;
		background-color: #f6f6f6;
		padding: 20px 0 10px 0;
		position: relative;
		display: flex;
		justify-content: space-between;
		h1 {
			font-family: "Shrikhand", cursive;
			font-weight: 400;
			font-size: 28px;
			margin-left: 20px;
		}
		.btn-like {
			@include btn-like;
			background-color: #f6f6f6;
			margin-right: 20px;
			font-size: 20px;
		}
	}
	.btn {
		margin: 35px auto 50px auto;
		width: 185px;
	}
}
.card-container {
	width: 100%;
	h2 {
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 20px 0 10px 20px;
		opacity: 0.9;
		span {
			padding-bottom: 5px;
			border-bottom: solid 3px $tertiarycolor;
		}
	}
}
.container_menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
	.frame {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 93%;
		height: 60px;
		background-color: #fff;
		box-shadow: 0 0 5px 0.2em #e2e2e2;
		border-radius: 13px;
		padding: 8px 5px;
		margin: 10px auto;
		.dish_description {
			width: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			overflow: hidden;
			padding: 0px 15px 0px 15px;
			.dish_price {
				font-family: "Roboto", sans-serif;
				font-weight: bold;
			}
		}
	}
}
