.header__menu {
    display: flex;
    align-items: center;
    margin: 15px;
    a {
        color: black;
        opacity: 0.8;
        font-size: 20px;
    }
    img {
        display: block;
        margin: auto;
    }
}

.background_menu {
    width: 100%;
    height: 280px;
    object-fit: cover;
}
.main_menu {
    width: 100%;
    overflow: hidden;
    article {
        margin-top: -60px;
        border-radius: 25px 25px 0px 0px;
        background-color: #f6f6f6;
        position: relative;
    }
}
.title_menu {
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding: 20px 0;
    h1 {
        font-family: "Shrikhand", cursive;
    }
    .btn-like {
        @include btn-like;
        font-size: 20px;
    }
}

.card-container {
    width: 100%;
    h2 {
        text-transform: uppercase;
    }
}
.container_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .frame {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 93%;
        height: 60px;
        background-color: #fff;
        box-shadow: 0 0 5px 0.2em #e2e2e2;
        border-radius: 15px;
        margin: 10px auto;
        .dish_description {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            overflow: hidden;
            padding: 0px 15px 0px 15px;
            .dish_price {
                font-family: "Roboto", sans-serif;
                font-weight: bold;
            }
        }
    }
}

main {
    .btn {
        margin: 0 auto 60px auto;
    }
}
