@mixin btn {
	width: 220px;
	height: 50px;
	background: linear-gradient($secundarycolor, $primarycolor);
	color: white;
	border: transparent;
	border-radius: 25px;
	box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.5);
	outline: none;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	&:hover {
		opacity: 0.8;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
	}
}

// fonction lighten ? combiné ligthen + linear-gradient ? @return color ?

@mixin btn-like {
	border: transparent;
	background-color: white;
	outline: none;
}

/*
@mixin featureframe {
    .running__step {
        width: 500px;
        height: 50px;
        background-color: white;
        display: flex;
        align-items: center;
        .numero {
            position: absolute;
            display: flex;
            border: transparent;
            background-color: violet;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-left: 20px;
            align-items: center;
            justify-content: center;
            left: 3%;
            z-index: 10;
        }
        .container {
            display: flex;
            position: relative;
            width: 400px;
            height: 40px;
            border: solid 2px black;
            left: 15%;
            align-items: center;
            justify-content: center;
        }
    }    
}
*/
